pandas
matplotlib
ipykernel
numpy
seaborn
tensorflow; platform_system != "Darwin" or platform_machine != "arm64"
tensorflow-macos; platform_system == "Darwin" and platform_machine == "arm64"
tensorflow-metal; platform_system == "Darwin" and platform_machine == "arm64"
statsmodels
lightgbm
xgboost
scikit-learn
scipy
pmdarima
keras-tuner
# yfinance
tabulate
shap
